<div style="background-color: rgb(37,110,247);">
  <div class = "row">
      <div class = "col-md-6 justify-content-start">
        
          <a href="">
              <h1><i class="fas fa-rainbow"></i>Rainbow Road</h1>
          </a>
      </div>
      <div class ="col-md-6 d-flex justify-content-end">
        <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page"  style ="padding: 10px;"
        class="button fancy-button">
        <i class="fas fa-shopping-cart"></i>
        Checkout({{itemCount()}})
       </a>
      </div>
      <div class ="col-md-6 d-flex justify-content-end">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" style ="padding: 10px;"
        class="button fancy-button">
        <i class="fas fa-angle-double-right"></i>
        Login
       </a>
      </div>
      <div class ="col-md-6 d-flex justify-content-end">
        <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" style ="padding: 10px;"
        class="button fancy-button">
        <i class="fas fa-registered"></i>
        Register
       </a>
      </div>
  </div>
</div>