<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.ItemName }} </span>
  <span>{{ item.Price | currency }}</span>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)">
        <div class="form-group">
          <label for="UserId">To confirm your purchase, please enter your UserId Number</label>
          <input
            type="number"
            class="form-control"
            id="UserId"
            required
            ngModel
            name="UserId"
          />
        </div>
       
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Purchase
        </button>
      </form>
    </div>
  </div>
  <hr />
  <button (click)="onClearCart()" > Remove Items From Cart</button>
  <button type ="button"[routerLink]="'/productlist'">
    Continue Shopping
  </button>
