<h1>Order History</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="GetOrderHistory(postForm.value)">
        <div class="form-group">
          <label for="UserId">UserId</label>
          <input
            type="number"
            class="form-control"
            id="UserId"
            required
            ngModel
            name="UserId"
          />
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Get Order History
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div  *ngIf = "historyData">
    <h3>User's History:</h3>
<pre>{{historyData}}</pre>
</div>
<button type ="button"[routerLink]="'/'" style = "padding: 10px;">
    Back to List
  </button>